page-info-history {
    .card-cust {

        margin: 20px;
        background: linear-gradient(to right, #396afc, #464d93);
        padding: 10px;
        border-radius: 20px;
        min-height: 130px;

        ion-label {
            color: white;
        }

        ion-datetime {
            color: white;
        }
        .txt-saldo {
            text-align: right;
        }
    }

    .hist-cust {
        .code-date {
            font-weight: bolder;
        }

        .saldo {
            text-align: right;
            color: #396afc;
        }
    }
}
