page-nilai-tipe {
  .icon-header {
    color: white !important;
  }

  .background-content {
    background-image: url(../img/backgroundwave2.png);
    background-size: cover;
  }

  ion-item {
    .title {
      color: map-get($colors, primary);
      font-weight: bold;
    }
    .date {
      display: flex;
      justify-content: flex-end;
      color: map-get($colors, primary);
    }
    .price {
    }
  }

  .btn-list {
    margin-top: 5vh;
    .btn-cust {
      padding: 25px;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: #464d93;
    }
  }
}
