.toolbar-background {
	background-color: #464d93;
}

.toolbar {
	text-color: white;
}

.toolbar-title {
	color: white;
}

.bar-button-menutoggle {
	color: white;
}

.show-back-button {
	color: white;
}
